.controlable{
  font-family: monospace;
  color: #aaa;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 98.8%;
  height: 113px;
  background-color: #444;
  font-size: 15px;
}

.controlable form{
  float:left;
  /*padding: 5px 6px;*/
  border: 2px solid #9f9f9f;
}

.controlable .separator {
  float: left;

  height: 80px;
  width: 5px;

}

.controlable a{
  text-align: center;
  color: #aaa;
}
/*
#tb1 {
  width: 50px;
}
#tb2 {
  width: 50px;
}
*/
#btn1 {
  width: 84px;
}

#btn10 {
  right: 20px;
  bottom: 20px;
}

#info {
  bottom: 0;
}

.kyanfazu{
  margin-bottom: 11px;
  border-style: solid;
  border-color: grey;
}

input[type="number"]{
  height: 15px;
  position: relative;
  width: 50px;
  border: 1px solid #5f5f5f;
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 11px;
}
